﻿.pi-ui-tree {
	height: 100%;
}

.pi-ui-tree > ul,
.pi-ui-tree li.pi-ui-tree-node,
.pi-ui-tree li.pi-ui-tree-node > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.pi-ui-tree li.pi-ui-tree-node > ul {
	padding-left: 1em;
}

.pi-ui-tree li.pi-ui-tree-node > .node-content {
	padding: 0.1em 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	justify-content: space-around;
}

.pi-ui-tree li.pi-ui-tree-node > .node-content > div {
	padding-top: 0.25em;
	padding-bottom: 0.35em;
}

.pi-ui-tree li.pi-ui-tree-node .node-branch-toggle {
	padding-right: 0.5em;
	cursor: pointer;
	width: 1em;
}

.pi-ui-tree li.pi-ui-tree-node .node-label {
	text-decoration: none;
	text-overflow: ellipsis;
	padding-right: 0.5em;
	padding-left: 0.5em;
	white-space: nowrap;
	flex-grow: 1;
	overflow: hidden;
	cursor: pointer;
}

.pi-ui-tree li.pi-ui-tree-node .node-label.selected,
.pi-ui-tree li.pi-ui-tree-node .node-label:hover {
	background: #eee;
	color: #000;
}

.pi-ui-tree li.pi-ui-tree-node .node-context-actions {
	padding-left: 0.5em;
	width: 1em;
}

.pi-ui-tree li.pi-ui-tree-node .context-dropdown {
	position: relative;
}

.pi-ui-tree li.pi-ui-tree-node .node-context-actions > .context-dropdown {
	visibility: hidden;
}

.pi-ui-tree li.pi-ui-tree-node .node-context-actions > .context-dropdown.open > .dropdown-menu {
	left: inherit; /* this is here to override and support the next proerty */
	right: 0;
}

.pi-ui-tree li.pi-ui-tree-node > .node-content:hover > .node-context-actions > .context-dropdown {
	visibility: visible;
	cursor: pointer;
}
