﻿<div style="position: absolute; top: calc(50% - 15em); left: calc(50% - 25em); height: 30em; width: 50em; padding: 1em; border: 1px dotted; overflow-y: auto;">
	<pi-ui-tree ng-if="tree.root"
				root="tree.root"
				toggle-select="tree.toggleSelect(node, selected)"
				preselect-node="tree.preselectNode(node, trace)"
				pre-expand-branch="tree.preExpandBranch(node)"
				label-factory="tree.labelFactory(node)"
				action-factory="tree.actionFactory(node)"
				children-factory="tree.childrenFactory(node)"
	            check-if-node-has-children="tree.childrenFactory(node)"
				readonly="false">
	</pi-ui-tree>
</div>
