<div class="pi-ui-tree">
	<ul>
		<!--
			After trying what I thought was an 'efficient refresh strategy',
			I have come to the conclusion that the best way to refresh the tree is
			to simply remove the root node from the DOM and then add it back.
			This simple strategy is hassle-free, uncomplicated and saves of from some maintenace time.
			Hence, we have the `ng-if` attribute with a `display` value that can be flipped from true-to-false-and-to-true again
			in order to effect a reload of the tree. Simple is much much better.

			This strategy fixes:
			-- PIWEBDEV-7466

			- igwe.kalu @ 20-05-2015
		-->
		<pi-ui-tree-node ng-if="display" node="::root" readonly="::readonly"
						 trace="::{model: null, parent: null}" childs-loaded="handle.childsLoaded"
						 select-node="selectNode"></pi-ui-tree-node>
	</ul>
</div>