<li class="pi-ui-tree-node" ng-hide="::removed">
	<div class="node-content" ng-dblclick="toggleOpenClose($event)" ng-attr-id="{{::tracker}}">
		<div class="node-branch-toggle" ng-click="toggleOpenClose($event)">
			<i class="fas" ng-class="nodeIconStyle"></i>
		</div>
		<div class="node-label" ng-class="{selected: state.selected}" ng-bind-html="::label | safeHtml" ng-click="toggleSelect($event)"></div>
		<div ng-if="showActions">
			<div class="node-context-actions" ng-mouseleave="contextmenu.isOpen = false">
				<div class="context-dropdown" uib-dropdown is-open="contextmenu.isOpen">
					<span class="dropdown-toggle" uib-dropdown-toggle>
						<i class="fas fa-sort-down fa-lg"></i>
					</span>
					<ul class="dropdown-menu" role="menu" uib-dropdown-menu>
						<li role="menuitem" ng-repeat="action in ::actions">
							<a ng-click="execute(action)" ng-bind="action.name"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<ul ng-show="children && state.open">
		<pi-ui-tree-node ng-repeat="child in ::children" readonly="::readonly" node="::child"
						 childs-loaded="childsLoaded" trace="::{model: node, parent: trace}"
						 select-node="selectNode"></pi-ui-tree-node>
	</ul>
</li>
